@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=League+Spartan:wght@500;700&family=Poppins:wght@500;600&display=swap');

:root {
    --home: url("../image/introduce.png");
    --logo: url("../image/logo.png");
    --white: #ffffff;
    --button-color: #ff4343;
    --home-button-color:  #ff4343;
    --welcome__minus: url("../image/Minus.png");
   }

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

head {
    margin: 0;
    padding: 0;
}

input{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.introduce{
    background: var(--home) no-repeat;
    width: 100vw;
    height: 714px;
    position: relative;
}
/*=================================================*/
.navigation{
    display: flex;
    justify-content: center;
    font-family: "League Spartan",sans-serif  ;
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    top: 27px;
    align-items: center;
    gap: 28px;
     }

.navigation__list{
    display: flex;
    justify-content: center;
    list-style: none;
    box-sizing: border-box;
    gap: 40px;
    white-space: nowrap;
         }

.navigation__button{
    color: var(--white);
    padding: 8px 16px;
    background-color: var(--button-color);
    border-radius: 4px;
    font-family: "League Spartan", sans-serif ;
    font-size: 16px;
  }

.logo{
    position: relative;
    right: 120px;
    width: 104px;
    height: 30px;
    box-sizing: content-box;
    background: var(--logo)  no-repeat;

    }

.Home {
    position: relative;
    display: flex;
    width: 626px;
    height: 263px;
    color: var(--white);
   left: 407px;
    top: 225px;
    flex-direction: column;
    align-items: center;
}

.home__title{
    display: flex;
    font-family: "popins",sans-serif;
    font-weight: 600;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}

.home__text{
    font-family: "popins",sans-serif;
    font-weight: 700;
    font-size: 52px;
    display: flex;
    box-sizing: content-box;
    text-align: center;
    }

.home__button{
    display: flex;
    padding: 14px 28px;
    color: var(--white);
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    background-color: var(--button-color);
    width: 175px;
    height: 48px;
    font-family: "Poppins" ,sans-serif ;
    justify-content: center;
      }

.section__2{
    display: flex;
   box-sizing: border-box;
    position: relative;
    gap: 16px;
    width: 360px;
    justify-content: center;
  }

.welcome{
    display: flex;
    position: relative;
    top: 48px;
    left: 400px;
    box-sizing: border-box;
    height: 248px;
    width: 640px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.welcome__minus{
    position: relative;
    height: 40px;
    width: 40px;
    background: var(--welcome__minus);
}

